body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #caf0f8;
  background-image: url(../../Instructions/Assets/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 5vh;
  border-radius: 2vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.card h2 {
    margin-top: 0;
} */

.text-input {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #023e8a;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

article {
  text-align: left;
  color: #023e8a;
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: #023e8a;
}

nav {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  background-color: #023e8a;
  padding: 10px 20px;
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px; /* Added spacing between links */
}
nav a {
  color: white;
  display: block;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between user ID and logout button */
}
.user-id {
    /* position: absolute;
      top: 15px;
      right: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff; */
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

#logout-btn {
    background: #ff5733; /* Red logout button */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  #logout-btn:hover {
    background: #e0482e; /* Slightly darker red on hover */
  }